.about-container {
    padding: 20px;

}
.about-section {
    margin:20px;
    padding: 10px;
    border-radius: 10px;
}
.about-section:hover {
    background-color: #00695c;
    color: #ffc107;
    transition: background-color 0.3s, color 0.3s;
}

