* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rightside-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;

}
@media screen and (max-width: 430px) {
    .rightside-container {
        margin-top: -80px;
        height: 430vh;
        width: 100%;
        text-align: left;
    }


}
