.workexpereince-container-container {
  background-color: #232d3f;
}
.experience-section {
  margin: 20px;
}
.title {
  text-align: center;
  font-size: 1.7rem;
}
.job {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #008170;
  box-shadow: grey 0px 0px 10px;
}
.job:hover {
  background-color: #00695c;
  color: #ffc107;
  transition: background-color 0.3s, color 0.3s;
}
.job-org {
  font-size: 1.5rem;
}

.job-title {
  font-size: 1.25rem;
}
.job-summary li {
  font-size: 1.2rem;
  display: flex;
}
.workexpereince-container:hover .title {
  color: #ffc107;
  transition: background-color 0.3s, color 0.3s;
}
.job-details {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
.job-skills {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.work-date {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}



.date-employ {
  align-self: flex-start;
  font-size: 1.1rem;
}

.work-img {
  
  width: 7rem;
  height: 7rem;
}

@media screen and (max-width: 430px) {
  .job {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin: 10px;
  }
  .job-details {
    width: 100%;
  }
  .job-skills {
    flex-direction: column;
    gap: 10px;
  }
  .workexpereince-container-container {
    overflow-y: hidden;
  }

}
